@import url(http://vault.benjam.xyz/fonts/style.css);
@import url(news-vertical/style.css);
@import url(acad-at-print/style.css);


html {
    line-height: 1.4rem;
}

html, *[lang], *:lang(und) {
    font-family: Source Serif Pro, Source Han Sans TW, Symbola, Unifont, serif;
}

*:lang(ko), *:lang(art-Hang), *:lang(und-Hang) {
    font-family: Source Han Sans KR, Source Serif Pro, Symbola, Unifont, sans-serif;
    font-size: calc(1.4em / 1.5);
}

*:lang(zh), *:lang(cmn), *:lang(art-Hani), *:lang(art-Hant), *:lang(und-Hani), *:lang(und-Hant) {
    font-family: Source Han Sans TW, Source Serif Pro, Symbola, Unifont, sans-serif;
    font-size: calc(1.4em / 1.5);
}

*:lang(en), *:lang(art-Latn), *:lang(und-Latn) {
    font-family: Source Serif Pro, Source Han Sans TW, Symbola, Unifont, serif;
}

@media print {

    *:root:root:root:root:root:root:root:root:root:root *.footnote *.note {
        display: inline;
        position: static;
        opacity: 1;
        visibility: visible;
        font-size: .75em;
        line-height: inherit;
        color: inherit;
        background: transparent;
        box-shadow: none;
        margin: none;
        padding: none;
    }
    *:root:root:root:root:root:root:root:root:root:root *.footnote *.note::before {
        content: " [";
    }
    *:root:root:root:root:root:root:root:root:root:root *.footnote *.note::after {
        content: "]";
    }

}
