@import url(http://vault.benjam.xyz/fonts/style.css);
@import url(news-vertical/style.css);
@import url(acad-at-print/style.css);

html, *[lang], *:lang(und) {
    font-family: Symbola, Unifont, serif;
}

*:lang(ko), *:lang(art-Hang), *:lang(und-Hang) {
    font-family: Source Han Sans KR, Symbola, Unifont, sans-serif;
}

*:lang(zh), *:lang(cmn), *:lang(art-Hani), *:lang(art-Hant), *:lang(und-Hani), *:lang(und-Hant) {
    font-family: Source Han Sans TW, Symbola, Unifont, sans-serif;
}

*:lang(en), *:lang(art-Latn), *:lang(und-Latn) {
    font-family: Source Serif Pro, Symbola, Unifont, serif;
}

/*
body[data-terminal-targeted] {
padding-bottom: 7.75rem;
}
#terminal-input-container {
display: block;
position: fixed;
left: 0;
right: 0;
bottom: 0;
padding: 0 1.5rem;
font-family: monospace;
height: 1.25rem;
font-size: .625rem;
line-height: 1.25rem;
color: #f5f5f5;
background: #0c0c0c;
z-index: 100;
}
#terminal-container {
display: block;
position: fixed;
left: 0;
right: 0;
bottom: 1.25rem;
padding: 0 1.5rem;
font-family: monospace;
height: 0;
max-height: calc(50vh - 1.5rem);
font-size: .6rem;
line-height: .625rem;
color: #cccccc;
background: rgba(12,12,12,.92);
visibility: hidden;
z-index: 99;
transition: padding .5s, height .5s, visibility .5s;
}
body[data-terminal-targeted] #terminal-container {
padding-top: .75rem;
padding-bottom: .75rem;
height: 6.25rem;
visibility: visible;
}
*.block-link{
display: block;
position: relative;
margin: 0;
padding: 0;
width: 100%;
height: 2in;
background: #0c0c0c;
text-decoration: none;
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}
*.block-link > *.block-link-description {
position: absolute;
background: rgba(245,245,245,.8);
margin: 0;
padding: .25in .25in .25in .125in;
width: calc(35% - .875in);
right: .5in;
top: 0;
bottom: 0;
color: #1c1c1c;
transition: right .5s ease;
}
*.block-link > *.block-link-description::before {
display: block;
position: absolute;
width: 1in;
margin: 0;
padding: 0;
right: 100%;
top: 0;
bottom: 0;
background: url('data: image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 7" stroke="none" preserveAspectRatio="none" width="100%25" height="100%25"><path d="M0 7L5 0L7 0L2 7" fill="rgba(245,245,245,1)"/><path d="M2 7L7 0L7 7L2 7" fill="rgba(245,245,245,.8)"/></svg>') no-repeat center / 100% 100%;
content: '';
}
*.block-link > *.block-link-description::after {
display: block;
position: absolute;
width: .5in;
margin: 0;
padding: 0;
left: 100%;
top: 0;
bottom: 0;
background: url('data: image/svg+xml,<svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 7 7" stroke="none" preserveAspectRatio="none" width="100%25" height="100%25"><path d="M0 0L7 0L7 7L0 7M1.5 2L1.5 2.5L4.5 3.5L1.5 4.5L1.5 5L6 3.5" fill="rgba(245,245,245,.8)"/><path d="M1.5 2L1.5 2.5L4.5 3.5L1.5 4.5L1.5 5L6 3.5" fill="rgba(245,245,245,.4)"/></svg>') no-repeat center / 100% 100%;
content: '';
}
*.block-link: hover > *.block-link-description{
right: 0;
}
*.block-link h1, *.block-link h2, *.block-link h3, *.block-link h4, *.block-link h5, *.block-link h6 {
margin: 0;
padding: 0;
font-size: .25in;
line-height: .3in;
font-weight: bolder;
}
*:lang(art-x-svi){font-family: Nanum Gothic, sans-serif;}
*/
