/*  GLOBAL STYLES  */
h1 *:not(html), h2 *:not(html), h3 *:not(html), h4 *:not(html), h5 *:not(html), h6 *:not(html), dt *:not(html), del *:not(html), dfn *:not(html), ins *:not(html), s *:not(html), strong *:not(html) {
    color: inherit;
}

/*  PRE-CSS4 SELECTION RULES  */
*::selection {
    background: #d0d3d9;
}
*::-moz-selection {
    background: #d0d3d9;
}

/*  ROOT STYLES  */
*:root {
    color: #787a80;
}
*:root::selection {
    background: #d0d3d9;
}
@media print {
    *:root {
        color: black;
    }
}

/*  PAGE LAYOUT  */

html, body > nav {
    background: #edeff2;
}
@media print {
    html, body > nav {
        background: white;
    }
}

/*  SECTIONING  */

@media screen {
    article > article::before, article > article::after,
    article > header::before, article > header::after,
    article > footer::before, article > footer::after {
        color: #d97366;
    }
}

/*  BLOCK-LEVEL ELEMENTS  */

h1, h2, h3, h4, h5, h6, hr {
    color: #992412;
    background: none;
}
hr::after {
    color: inherit;
}
p::before, p::after {
    color: #d97366;
}

/*  LISTS  */

dt {
    color: #992412;
}

/*  PHRASING ELEMENTS  */

a[href] {
    color: inherit;
}
b, code, em, u {
    color: #00071c;
}
del b, del code, del em, del u,
b del, code del, em del, u del {
    color: #402e01;
}
h1 b, h1 code, h1 em, h1 u,
h2 b, h2 code, h2 em, h2 u,
h3 b, h3 code, h3 em, h3 u,
h4 b, h4 code, h4 em, h4 u,
h5 b, h5 code, h5 em, h5 u,
h6 b, h6 code, h6 em, h6 u,
dt b, dt code, dt em, dt u,
dfn b, dfn code, dfn em, dfn u,
b h1, code h1, em h1, u h1,
b h2, code h2, em h2, u h2,
b h3, code h3, em h3, u h3,
b h4, code h4, em h4, u h4,
b h5, code h5, em h5, u h5,
b h6, code h6, em h6, u h6,
b dt, code dt, em dt, u dt,
b dfn, code dfn, em dfn, u dfn {
    color: #400f01;
}
ins b, ins code, ins em, ins u,
b ins, code ins, em ins, u ins {
    color: #010f40;
}
s b, s code, s em, s u,
b s, code s, em s, u s {
    color: #787a80;
}
strong b, strong code, strong em, strong u,
b strong, code strong, em strong, u strong {
    color: #074001;
}
del {
    color: #996512;
}
dfn {
    color: #992412;
}
ins {
    color: #123f99;
}
mark {
    background: #d97366;
}
s {
    color: #919499;
}
strong {
    color: #2d9912;
}
