/*
    COLOUR THEMES:
    - RED : !DATA!
    - YELLOW : Language
    - GREEN : Design
    - TEAL : Criticism & Interpretation
    - CYAN : Media
    - BLUE : Code
    - PURPLE : Identity
    - MAGENTA : Narrative
*/

/*  @RULES  */

/*  GLOBAL RULES  */

* {
    transition: color .25s;
    border-color: inherit;
}

*:root h2 *, *:root h3 *, *:root h4 *, *:root h5 *, *:root h6 *, *:root hr *, *:root dt *, *:root dfn *, *:root blockquote *, *:root a[href] * {
    color: inherit;
}

*:root {
    color: #636363;
}

@media print {
    *:root {
        color: black;
    }
}

html *.colour, blockquote, dfn, *:root *[data-colour] {
    color: #636363;
}
html[data-colour="cyan"] *.colour, *:root *[data-colour="cyan"] {
    color: #31b9db;
}
html[data-colour="blue"] *.colour, *:root *[data-colour="blue"] {
    color: #7476fc;
}
html[data-colour="purple"] *.colour, *:root *[data-colour="purple"] {
    color: #c258f2;
}
html[data-colour="magenta"] *.colour, *:root *[data-colour="magenta"] {
    color: #e63ca4;
}
html[data-colour="red"] *.colour, *:root *[data-colour="red"] {
    color: #e83f2c;
}
html[data-colour="yellow"] *.colour, *:root *[data-colour="yellow"] {
    color: #f6d037;
}
html[data-colour="green"] *.colour, *:root *[data-colour="green"] {
    color: #6ad622;
}
html[data-colour="teal"] *.colour, *:root *[data-colour="teal"] {
    color: #49cfa2;
}

html *::selection, *:root *[data-colour]::selection {
    background: #cccccc;
}
html[data-colour] *::-moz-selection, *:root *[data-colour]::-moz-selection {
    background: #cccccc;
}
html[data-colour="cyan"] *::selection, *:root *[data-colour="cyan"]::selection {
    background: #bfe7f2;
}
html[data-colour="cyan"] *::-moz-selection, *:root *[data-colour="cyan"]::-moz-selection {
    background: #bfe7f2;
}
html[data-colour="blue"] *::selection, *:root *[data-colour="blue"]::selection {
    background: #d0d1f6;
}
html[data-colour="blue"] *::-moz-selection, *:root *[data-colour="blue"]::-moz-selection {
    background: #d0d1f6;
}
html[data-colour="purple"] *::selection, *:root *[data-colour="purple"]::selection {
    background: #eabdff;
}
html[data-colour="purple"] *::-moz-selection, *:root *[data-colour="purple"]::-moz-selection {
    background: #eabdff;
}
html[data-colour="magenta"] *::selection, *:root *[data-colour="magenta"]::selection {
    background: #f0b2d8;
}
html[data-colour="magenta"] *::-moz-selection, *:root *[data-colour="magenta"]::-moz-selection {
    background: #f0b2d8;
}
html[data-colour="red"] *::selection, *:root *[data-colour="red"]::selection {
    background: #f9a59b;
}
html[data-colour="red"] *::-moz-selection, *:root *[data-colour="red"]::-moz-selection {
    background: #f9a59b;
}
html[data-colour="yellow"] *::selection, *:root *[data-colour="yellow"]::selection {
    background: #fcf0be;
}
html[data-colour="yellow"] *::-moz-selection, *:root *[data-colour="yellow"]::-moz-selection {
    background: #fcf0be;
}
html[data-colour="green"] *::selection, *:root *[data-colour="green"]::selection {
    background: #d5fcbb;
}
html[data-colour="green"] *::-moz-selection, *:root *[data-colour="green"]::-moz-selection {
    background: #d5fcbb;
}
html[data-colour="teal"] *::selection, *:root *[data-colour="teal"]::selection {
    background: #bdf0df;
}
html[data-colour="teal"] *::-moz-selection, *:root *[data-colour="teal"]::-moz-selection {
    background: #bdf0df;
}

/*  PAGE LAYOUT  */

html {
    background: #f5f5f5;
}

@media print {
    html {
        background: white;
    }
}

body::before {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}

body::after {
    background: linear-gradient(to top, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}

/*  SECTIONING  */

aside {
    color: #a3a3a3;
}

html header {
    border-image-source: linear-gradient(to right, #636363, #0c0c0c);
}
html[data-colour="cyan"] header {
    border-image-source: linear-gradient(to right, #31b9db, #0c0c0c);
}
html[data-colour="blue"] header {
    border-image-source: linear-gradient(to right, #7476fc, #0c0c0c);
}
html[data-colour="purple"] header {
    border-image-source: linear-gradient(to right, #c258f2, #0c0c0c);
}
html[data-colour="magenta"] header {
    border-image-source: linear-gradient(to right, #e63ca4, #0c0c0c);
}
html[data-colour="red"] header {
    border-image-source: linear-gradient(to right, #e83f2c, #0c0c0c);
}
html[data-colour="yellow"] header {
    border-image-source: linear-gradient(to right, #f6d037, #0c0c0c);
}
html[data-colour="green"] header {
    border-image-source: linear-gradient(to right, #6ad622, #0c0c0c);
}
html[data-colour="teal"] header {
    border-image-source: linear-gradient(to right, #49cfa2, #0c0c0c);
}

body > nav:not(.alts) {
    color: #f5f5f5;
    background: #3b3b3b;
}

body > nav::after {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}

/*  TABLES  */

/*  LISTS  */

dt {
    color: #3b3b3b;
}

/*  BLOCK ELEMENTS  */

b, em, h1, h2, h3, h4, h5, h6, hr {
    color: #3b3b3b;
}

code, strong, u {
    color: #1c1c1c;
}

del, s, small {
    color: #a3a3a3;
}

html blockquote {
    color: #636363;
}
html[data-colour="cyan"] blockquote {
    color: #31b9db;
}
html[data-colour="blue"] blockquote {
    color: #7476fc;
}
html[data-colour="purple"] blockquote {
    color: #c258f2;
}
html[data-colour="magenta"] blockquote {
    color: #e63ca4;
}
html[data-colour="red"] blockquote {
    color: #e83f2c;
}
html[data-colour="yellow"] blockquote {
    color: #f6d037;
}
html[data-colour="green"] blockquote {
    color: #6ad622;
}
html[data-colour="teal"] blockquote {
    color: #49cfa2;
}

figure, iframe, img, svg {
    color: inherit;
}

hr {
    color: inherit;
    background: none;
}

html p::before, html p::after {
    color: #cccccc;
}
html[data-colour="cyan"] p::before, html[data-colour="cyan"] p::after {
    color: #bfe7f2;
}
html[data-colour="blue"] p::before, html[data-colour="blue"] p::after {
    color: #d0d1f6;
}
html[data-colour="purple"] p::before, html[data-colour="purple"] p::after {
    color: #eabdff;
}
html[data-colour="magenta"] p::before, html[data-colour="magenta"] p::after {
    color: #f0b2d8;
}
html[data-colour="red"] p::before, html[data-colour="red"] p::after {
    color: #f9a59b;
}
html[data-colour="yellow"] p::before, html[data-colour="yellow"] p::after {
    color: #fcf0be;
}
html[data-colour="green"] p::before, html[data-colour="green"] p::after {
    color: #d5fcbb;
}
html[data-colour="teal"] p::before, html[data-colour="teal"] p::after {
    color: #bdf0df;
}

/*  PHRASING  */

a[href]:not(:hover) {
    color: #3b3b3b;
}

html a[href]:not([data-colour]):hover, *.colour, blockquote, dfn, html *[data-colour] {
    color: #636363;
}
html[data-colour="cyan"] a[href]:not([data-colour]):hover, html[data-colour="cyan"] dfn {
    color: #31b9db;
}
html[data-colour="blue"] a[href]:not([data-colour]):hover, html[data-colour="blue"] dfn {
    color: #7476fc;
}
html[data-colour="purple"] a[href]:not([data-colour]):hover, html[data-colour="purple"] dfn {
    color: #c258f2;
}
html[data-colour="magenta"] a[href]:not([data-colour]):hover, html[data-colour="magenta"] dfn {
    color: #e63ca4;
}
html[data-colour="red"] a[href]:not([data-colour]):hover, html[data-colour="red"] dfn {
    color: #e83f2c;
}
html[data-colour="yellow"] a[href]:not([data-colour]):hover, html[data-colour="yellow"] dfn {
    color: #f6d037;
}
html[data-colour="green"] a[href]:not([data-colour]):hover, html[data-colour="green"] dfn {
    color: #6ad622;
}
html[data-colour="teal"] a[href]:not([data-colour]):hover, html[data-colour="teal"] dfn {
    color: #49cfa2;
}

*:root body > nav a[href] {
    color: inherit;
    background: transparent;
    transition: color .5s, background .5s;
}

*:root body > nav a[href]:not([data-colour]):hover {
    color: #3b3b3b;
    background: #f5f5f5;
}

body > nav.alts a[href] {
    color: #a3a3a3;
}

body > nav.alts a[href].alts-current:not(:hover) {
    color: #3b3b3b;
}

html body > nav.alts a[href]:not([data-colour]):hover {
    color: #f5f5f5;
    background: #636363;
}
html[data-colour="cyan"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #31b9db;
}
html[data-colour="blue"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #7476fc;
}
html[data-colour="purple"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #c258f2;
}
html[data-colour="magenta"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #e63ca4;
}
html[data-colour="red"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #e83f2c;
}
html[data-colour="yellow"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #f6d037;
}
html[data-colour="green"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #6ad622;
}
html[data-colour="teal"] body > nav.alts a[href]:not([data-colour]):hover {
    background: #49cfa2;
}

html mark, *:root mark[data-colour] {
    background: #cccccc;
}
html[data-colour="cyan"] mark, *:root mark[data-colour="cyan"] {
    background: #bfe7f2;
}
html[data-colour="blue"] mark, *:root mark[data-colour="blue"] {
    background: #d0d1f6;
}
html[data-colour="purple"] mark, *:root mark[data-colour="purple"] {
    background: #eabdff;
}
html[data-colour="magenta"] mark, *:root mark[data-colour="magenta"] {
    background: #f0b2d8;
}
html[data-colour="red"] mark, *:root mark[data-colour="red"] {
    background: #f9a59b;
}
html[data-colour="yellow"] mark, *:root mark[data-colour="yellow"] {
    background: #fcf0be;
}
html[data-colour="green"] mark, *:root mark[data-colour="green"] {
    background: #d5fcbb;
}
html[data-colour="teal"] mark, *:root mark[data-colour="teal"] {
    background: #bdf0df;
}
