/*  @RULES  */

/*  GLOBAL RULES  */

/*  PAGE LAYOUT  */

html {
    background: #f5f5f5;
}

@media print {
    html {
        background: white;
    }
}

body::before {
    background: linear-gradient(to bottom, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}

body::after {
    background: linear-gradient(to top, rgb(245, 245, 245), rgba(245, 245, 245, 0));
}

/*  SECTIONING  */

aside {
    color: #a3a3a3;
}

/*  TABLES  */

/*  LISTS  */

dt {
    color: #3b3b3b;
}

/*  BLOCK ELEMENTS  */

h1, h2, h3, h4, h5, h6, hr {
    color: #3b3b3b;
}

code, strong {
    color: #1c1c1c;
}

del, s, small {
    color: #a3a3a3;
}

html blockquote {
    color: #5d2721;  /* should be coloured */
}

figure, iframe, img, svg {
    color: inherit;
}

hr {
    color: inherit;
    background: none;
}

html p::before, html p::after {
    color: #f9a59b;  /* should be coloured */
}

/*  PHRASING  */

a[href] {
    color: #3b3b3b;
    text-decoration-color: rgb(59, 59, 59, 1);
}

a[href]:hover {
    text-decoration-color: rgba(59, 59, 59, 0);
}

b, em {
    color: #3b3b3b;
}

body > nav.alts a[href] {
    color: #a3a3a3;
}

body > nav.alts a[href].alts-current:not(:hover) {
    color: #3b3b3b;
}

html mark {
    background: #cccccc;  /* should be coloured */
}

u {
    color: #e83f2c;
}

figcaption u {
    color: #1c1c1c;
}
