/*  BODY TEXT  */
@import url('../fonts/Source%20Sans%20Pro/source-sans-pro.css');

/*  HEADER TEXT  */
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris/Neris-Light-webfont.eot');
    src: url('../fonts/Neris/Neris-Light-webfont.woff') format('woff'),
         url('../fonts/Neris/Neris-Light-webfont.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Neris';
    src: url('../fonts/Neris/Neris-LightItalic-webfont.eot');
    src: url('../fonts/Neris/Neris-LightItalic-webfont.woff') format('woff'),
         url('../fonts/Neris/Neris-LightItalic-webfont.eot') format('embedded-opentype');
    font-weight: 300;
    font-style: italic;
}

:root {
    font-family: 'Source Sans Pro', 'News Gothic', sans-serif;
}
h1, h2, header {
    font-family: 'Neris', 'News Gothic', sans-serif;
}
