/*  @RULES  */

@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,300italic,400italic,200italic,200&subset=latin,latin-ext,vietnamese);

/*  GLOBAL RULES  */

*:root {
    font-family: 'Source Sans Pro', 'News Gothic', sans-serif;
    font-weight: 300;
    font-size: 18pt;
    font-synthesis: none;
    font-feature-settings: "liga", "clig", "dlig", "calt", "cv04", "cv05";
}

@media print {
    *:root {
        font-size: 12pt;
    }
}

/*  PAGE LAYOUT  */

/*  SECTIONING  */

body > nav:not(.alts) {
    font-size: 12pt;
}

/*  TABLES  */

/*  LISTS  */

dt {
    font-weight: inherit;
}

/*  BLOCK ELEMENTS  */

blockquote {
    font-weight: 200;
}

figcaption {
    font-weight: 200;
    font-size: 12pt;
}

h1 {
    font-size: 54pt;
    font-weight: inherit;
}

h2 {
    font-size: 24pt;
    font-weight: inherit;
}

h3 {
    font-size: inherit;
    font-weight: inherit;
}

p::before {
    font-weight: 200;
}

/*  PHRASING  */

body > nav.alts a[href] {
    font-size: 12pt;
}

b {
    font-weight: inherit;
}

cite {
    font-style: inherit;
}

code {
    font-family: inherit;
}

dfn {
    font-style: inherit;
    font-weight: inherit;
}

em {
    font-style: inherit;
}

i {
    font-style: italic;
}

i[lang] {
    font-style: inherit;
}

small {
    font-size: inherit;
    font-weight: 200;
}

strong {
    font-weight: 400;
}
