/*  AT-RULES  */

@import url(fonts.css);
@import url(colours.css);

/*  GLOBAL RULES  */

*[title]:not([title=""]):not(a) {
    cursor: help;
    border-bottom: dotted currentColor black;
}
@supports (text-decoration-style: dotted) or (-moz-text-decoration-style: dotted) or (-webkit-text-decoration-style: dotted) {
    abbr {
        border: none;
    }
    *[title]:not([title=""]):not(a) {
        border: none;
        -webkit-text-decoration-line: underline;
        -webkit-text-decoration-style: dotted;
        -moz-text-decoration-line: underline;
        -moz-text-decoration-style: dotted;
        text-decoration-line: underline;
        text-decoration-style: dotted;
    }
}
*:lang(en) {
    quotes: "“" "”" "‘" "’";
}
*:lang(*-fonipa) {
    font-feature-settings: "liga", "clig", "dlig", "calt", "cv04", "cv05", "ss06";
}

/*  ROOT STYLES  */
*:root {
    font-weight: 300;
    font-size: 18pt;
    font-synthesis: none;
    font-feature-settings: "liga", "clig", "dlig", "calt", "cv04", "cv05";
    line-height: 24pt;
    text-align: justify;
    quotes: "“" "”" "‘" "’";
}
@media print {
    *:root {
        font-size: 12pt;
        line-height: 16pt;
    }
}

/*  PAGE LAYOUT  */

html {
    margin: 0;
    padding: 36pt;
    overflow: auto;
}
body {
    margin: auto;
    padding: 0 72pt;
    max-width: 432pt;
}
body::before, body::after, #global-nav::after {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    height: 36pt;
    content: "";
    z-index: 98;
}
@media print {
    body {
        padding: 0 36pt;
        max-width: none;
    }
    body::before, body::after {
        content: none;
    }
}
body::before {
    top: 0;
}
body::after {
    bottom: 0;
}
#global-nav, #global-footer {
    position: fixed;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0 12pt;
    height: 36pt;
    font-size: 12pt;
    white-space: nowrap;
    overflow: auto;
    z-index: 99;
}
#global-nav {
    top: 0;
    text-align: center;
}
#global-nav::after {
    top: 36pt;
}
#global-nav a {
    display: inline-block;
    margin: 0;
    padding: 6pt 18pt;
    text-decoration: none;
}
#alt-nav {
    position: fixed;
    right: 0;
    top: 36pt;
    margin: 3pt 4.5pt;
    padding: 0;
    font-size: 12pt;
    z-index: 99;
}
#alt-nav a[href] {
    margin: 0 4.5pt;
    transition: opacity .5s;
}
#alt-nav a[href] {
    opacity: .5;
}
#alt-nav:hover a[href]:hover, #alt-nav:not(:hover) a[href]#alt-current {
    opacity: 1;
}
#global-footer {
    bottom: 0;
    text-align: right;
}
@media print {
    #global-nav, #alt-nav, #global-footer {
        display: none;
    }
}

/*  SECTIONING  */

main, article, section, aside, nav, header, footer {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}
header {
    margin: 36pt 0 17pt;
    border-image-width: 0 0 2pt;
    border-image-slice: 100% 0;
    padding: 0 0 17pt 0;
}
section, nav {
    margin: 18pt 0;
}
#global-nav ~ main {
    padding-top: 36pt;
}
main > header, main > section, main > nav,
main > article:only-child > header, main > article:only-child > section, main > article:only-child > nav {
    page-break-after: always;
}
aside {
    font-weight: 200;
}
aside:not(:first-child)::before, aside:not(:last-child)::after {
    display: block;
    margin: 17.5pt auto;
    border: .5pt currentColor solid;
    padding: 0;
    height: 0;
    width: 80%;
    content: "";
}
footer {
    font-weight: 200;
    font-size: 12pt;
    line-height: 16pt;
    text-align: right;
}
blockquote > footer:last-child::before {
    content: "– ";
}

/*  BLOCK-LEVEL ELEMENTS  */

blockquote, h1, h2, h3, p {
    clear: both;
}
blockquote {
    margin: 18pt 12pt;
}
h1 {
    margin: 0 0 0 -72pt;
    font-size: 54pt;
    font-weight: inherit;
    line-height: 72pt;
    text-align: left;
}
header h1 {
    margin: 0 0 0 -72pt;
}
h2 {
    margin: 0 0 18pt;
    font-size: 24pt;
    font-weight: inherit;
    line-height: 36pt;
    text-align: center;
}
h2::before {
    content: "~ ";
}
h2::after {
    content: " ~";
}
h3 {
    margin: 18pt 0 0;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-decoration: underline;
}
h3::after {
    content: ":";
}
hr {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 36pt;
    color: inherit;
    background: none;
    overflow: hidden;
}
hr::after {
    display: block;
    position: absolute;
    top: 9pt;
    left: 0;
    right: 0;
    height: 18pt;
    text-align: center;
    white-space: pre;
    content: "*   *   *"
}
iframe, img, figure, svg {
    display: block;
    margin: auto;
    border: none;
    padding: 0;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 100%;
}
figcaption {
    margin: 0;
    font-weight: 200;
    font-size: 12pt;
    line-height: 16pt;
    text-align: right;
}
figure {
    margin: 18pt auto;
}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img, p img, li img, dt img, dd img, pre img, blockquote img,
h1 svg, h2 svg, h3 svg, h4 svg, h5 svg, h6 svg, p svg, li svg, dt svg, dd svg, pre svg, blockquote svg {
    display: inline-block;
    margin: 0;
    border: none;
    padding: 0;
    max-height: 1em;
    max-width: none;
    width: auto;
    color: inherit;
    vertical-align: text-bottom;
}
p {
    position: relative;
    margin: 0;
    padding: 0;
}
h3 + p, p + p {
    text-indent: 24pt;
}
footer h3 + p, footer p + p {
    margin-top: 12pt;
    text-indent: 0;
}
p + p::before {
    position: absolute;
    top: 0;
    left: 6pt;
    font-weight: 200;
    text-indent: 0;
    content: "¶";
}
footer p + p::before {
    content: none;
}
blockquote p::before, blockquote p + p::before {
    position: absolute;
    top: 0;
    left: auto;
    right: 100%;
    font-weight: 200;
    text-indent: 0;
    content: open-quote;
}
blockquote p:not(:last-of-type)::after {
    content: no-close-quote;
}
blockquote p:last-of-type::after {
    content: close-quote;
}

/*  LISTS  */

ul, ol, dl {
    margin: 0;
    padding: 0 0 0 24pt;
    text-align: left;
}
:not(li) > ul:only-child, :not(li) > ol:only-child, :not(li) > dl:only-child,
h1 + ul:last-child, h1 + ol:last-child, h1 + dl:last-child,
h2 + ul:last-child, h2 + ol:last-child, h2 + dl:last-child {
    padding: 0;
}
ul {
    list-style-type: circle;
}
nav ul {
    list-style-type: none;
}
li ul {
    list-style-type: square;
}
li li ul {
    list-style-type: disc;
}
li li li ul {
    list-style-type: circle;
}
li li li li ul {
    list-style-type: square;
}
ol {
    list-style-type: upper-roman;
}
nav ol {
    list-style-type: upper-roman;
}
li ol {
    list-style-type: decimal-leading-zero;
}
nav li ol {
    list-style-type: decimal-leading-zero;
}
li li ol {
    list-style-type: lower-latin;
}
li li li ol {
    list-style-type: lower-greek;
}
li li li li ol {
    list-style-type: decimal;
}
dt {
    display: inline;
    float: left;
    margin: 0;
    padding: 0;
    font-weight: inherit;
}
dt + dt::before {
    content: ", "
}
dd {
    margin: 0 0 0 24pt;
    padding: 0;
}
dd::before {
    display: inline;
    white-space: pre-wrap;
    content: " : ";
}
dd + dd::before {
    content: "″ : ";
}
dd:after {
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
    content: "";
}

/*  PHRASING ELEMENTS  */

a[href] {
    font-weight: inherit;
    text-decoration: underline;
    -moz-text-decoration-style: dashed;
    text-decoration-style: dashed;
}
@media print {
    a[href] {
        text-decoration: none;
    }
}
b {
    font-weight: inherit;
}
b::before {
    content: "#";
}
cite {
    font-style: inherit;
}
code {
    font-family: inherit;
}
code::before, code::after {
    content: "'";
}
del {
    text-decoration: line-through;
}
dfn {
    font-style: inherit;
    font-weight: inherit;
}
em {
    font-style: inherit;
}
em::before, em::after {
    content: "~";
}
i {
    font-style: italic;
}
i[lang] {
    font-style: inherit;
}
i[lang]::before {
    content: "«";
}
i[lang]::after {
    content: "»";
}
ins {
    text-decoration: underline;
}
small {
    font-size: inherit;
    font-weight: 200;
    line-height: inherit;
}
s {
    text-decoration: line-through;
}
strong {
    font-weight: 400;
}
sub, sup {
    line-height: 0;
}
sup {
    text-transform: uppercase;
}
u {
    font-weight: inherit;
    text-decoration: none;
}
